.backgroundImg{
    background-image: url("./Typing.jpg");

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.FilterArea{
    
    background-color: #2b2a11 ;
    padding: 20px;
}